body {
  font-family: monospace;
  font-family: sans-serif;
  font-size: 15px;
  font-family: 'PT Mono', monospace;
  
  color: white;
  background-color: rgb(90, 90, 90);
}

.calculator {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-auto-rows: 60px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(90, 90, 90);
  border-radius: 3%;
  grid-gap: 5px;
}

.button {
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  /* width: 50px;
  height: 50px; */
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  background-color: grey;
  transition-duration: 0.3s;
  color: white;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}

.display {
  grid-column: span 4;
  border: 2px solid black;
  margin-bottom: 10px;
  line-height: 46px;
  vertical-align: middle;
  background-color: white;
  color: black;
}

.flexContainer {
  display: flex;
}

.primaryDisplay {
  flex-basis: 90%;
  padding-left: 20px;

}

.operatorDisplay {
  flex-basis: 10%;

}

.flash {
  color: lightgrey;
}

.equals {
  grid-row: span 2;
  height: 120px;
  line-height: 110px;
}

.page {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  top: 70px;
  bottom: 70px;
  overflow: hidden;
  background-image: url(/assets/calculator.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.green {
  background-color: darkgreen;
}

.red {
  background-color: crimson;
}

.shadow {
  -webkit-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.56);
-moz-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.56);
box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.56);
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgb(90, 90, 90);
  height: 70px;
  top: 0;
  text-align: center;
  color: white;

  }

.footer {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  height: 70px;
  bottom: 0;
  vertical-align: middle;
  line-height: 70px;
  background-color: rgb(90, 90, 90);
}

.black {
  background-color: black;
}